@model Model.Rol

<style>
    body {
        background: url(https://i.pinimg.com/originals/16/e3/af/16e3afca1c0fdd1bfb2cb67ed1519a76.jpg) repeat fixed;
    }
    h1, h2, h3, h4, h5 {
        color: white;
    }
</style>
@{
    var Nombres_Permiso = ViewBag.Nombre_Permiso;
}

<h2>Borrar Rol</h2>

<h3>Seguro que desea borrar este Rol?</h3>
<h5> <b> <u>Ojo: Al borrar este rol se borraran todos los usuarios que contengan el mismo </u></b></h5>

@if(Model.id == 3)
{
    <b> <u> La cuenta superior no puede ser eliminada.</u>  </b>
}
<div  style=" color: white">
    <h4>Rol y sus integrantes.</h4>
    <hr />


    <h2>@Html.DisplayName("Rol: ")  @Html.DisplayFor(model => model.Nombre)  </h2>
    <hr />

</div>


<div class="panel panel-primary">

    <div class="panel-heading">Restricciones de este Rol</div>

    <table class="table">
        <tr>

            <th>
                @Html.DisplayName("ID del Permiso")
            </th>

            <th>
                @Html.DisplayName("Descripcion del permiso")
            </th>

            <th></th>
        </tr>

        @foreach (var item in @ViewBag.PDR)
        {
            <tr class="success">
                <td>

                    @item.PermisoID
                </td>

                <td class="danger">
                    @if (Nombres_Permiso.ContainsKey(item.PermisoID))
                {
                        @Nombres_Permiso[item.PermisoID];
                }

                </td>

                <td class="info">
                    @Html.ActionLink("Borrar", "Delete", "PermisoDenegadoPorRols", new RouteValueDictionary(new { id = item.ID }), null)

                </td>

            </tr>
        }


    </table>

    </div>

<div class="panel panel-primary">

    <div class="panel-heading">Cuentas relacionadas a este Rol</div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Correo")
            </th>

            <th>
                @Html.DisplayName("Nombre")
            </th>

            <th></th>
        </tr>
        @foreach (var item in Model.Usuario)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

            </tr>

        }

    </table>

    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.id != 3)
            {
                <input type="submit" value="Borrar" class="btn btn-danger" />
            }
            <input type="button" class="btn btn-info" value="Regresar" onclick="location.href='@Url.Action("Index", "Rols")'" />
        </div>
    }
