@model  MiPrimerProyectoMVC.Model.Subscription

<style>
    body {
        background: url(https://i.pinimg.com/originals/16/e3/af/16e3afca1c0fdd1bfb2cb67ed1519a76.jpg) repeat fixed;
    }
</style>
<h2  style=" color: white">Borrar</h2>

<h3  style=" color: white">Seguro que desea borrar la suscripcion?</h3>
<div>
    <h4  style=" color: white">Suscripciones</h4>
    <hr />
    <dl class="dl-horizontal"  style=" color: white">
        <dt>
            @Html.DisplayName("Dia de vencimiento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayName("Esta expirado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsExpired)
        </dd>

        <dt>
            @Html.DisplayName("Esta uso")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUsed)
        </dd>

        <dt>
            @Html.DisplayName("Primer Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Nombre del Plan")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan.PlanName)
        </dd>

    </dl>

    <p>
        <input type="button" class="btn btn-success" value="Anadir un Servicio a este Plan" onclick="location.href='@Url.Action("Create","Plan_Service")'" />
    </p>

    <div class="panel panel-primary">

        <div class="panel-heading">Lista de detalles sobre el Plan</div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Plan ID")
                </th>
                <th>
                    @Html.DisplayName("Descripcion del Plan")
                </th>

                <th></th>
            </tr>


            <tr>
                <td>

                    @Html.DisplayFor(model => model.Plan.PlanName)

                </td>
                <td>

                    @Html.DisplayFor(model => model.Plan.PlanDescription)

                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", "Plans", new RouteValueDictionary(new { id = Model.Plan.PlanID }), null) |
                    @Html.ActionLink("Detalles", "Details", "Plans", new RouteValueDictionary(new { id = Model.Plan.PlanID }), null) |
                    @Html.ActionLink("Borrar", "Delete", "Plans", new RouteValueDictionary(new { id = Model.Plan.PlanID }), null) |
                </td>

            </tr>

        </table>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-danger" /> |

                <input type="button" class="btn btn-info" value="Volver a la lista" onclick="location.href='@Url.Action("Index")'" />
            </div>
        }
    </div>
